<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="~{layout/basic.html}"-->

<head>
    <meta charset="UTF-8">
    <title>Member Join Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/memberStyle.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="d-flex align-items-center">
<div th:replace="fragment/header :: headerFragment"></div>
<div class="align-middle">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-3">
            <div class="col">
                <h2 class="h3 mb-3 fw-normal">
                회원가입
            </h2>
                <div class="card align-self-center">

                    <div class="card-body">
                        <form id="registerForm" action="/member/join" method="post">
                            <div class="col-12 pb-2">
                                <label for="mid" class="form-label">아이디</label>
                                <div class="input-group">
                                <input type="text" name="mid" id="mid" class="form-control">
                                <button class="btn btn-secondary confirm" type="button">confirm</button>
                                </div>
                            </div>

                            <div class="col-12 pb-2">
                                <label for="mpw" class="form-label">비밀번호</label>
                                <input type="text" name="mpw" id="mpw" class="form-control">
                            </div>

                            <div class="col-12 pb-2">
                                <label for="mpw_confirm" class="form-label">비밀번호 확인</label>
                                <input type="text" name="mpw_confirm" id="mpw_confirm" class="form-control">
                            </div>

                            <div class="col-12 pb-2">
                                <label for="name" class="form-label">이름</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>

                            <div class="col-12 pb-2">
                                <label for="email" class="form-label">이메일</label>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>

                            <div class="col-12 pb-2">
                                <label for="address" class="form-label">주소</label>
                                <input type="text" name="address" id="address" class="form-control">
                            </div>

                            <div class="col-12 pb-2">
                                <label for="phone" class="form-label">전화번호</label>
                                <input type="text" name="phone" id="phone" class="form-control">
                            </div>

                            <div class="my-4">
                                <div class="float-end">
                                    <button type="button" class="btn btn-primary submitBtn">가입하기</button>
                                    <button type="reset" class="btn btn-secondary">리셋</button>
                                </div>
                            </div>
                        </form> <!-- end form -->

                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>

<div th:replace="fragment/footer :: footerFragment"></div>

<script th:src="@{/js/script.js}"></script>

<script layout:fragment="script" th:inline="javascript">
    // 아이디 중복확인
    document.querySelector(".confirm").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        const data = document.querySelector("[name='mid']").value;
        console.log("http://localhost:8080/confirmId/" + data)
        if (!data){
            alert("아이디를 입력해주세요.");
            return
        }
        axios.get("http://localhost:8080/member/confirmId/" + data).then(res => {
            console.log(res)
            const exist = res.data
            if (exist) {
                alert("사용 불가능")
            }
            else {
                alert("사용 가능")
            }
        }).catch(error => {
            console.error(error);
        });
    });

    // 비밀번호 = 비밀번호 확인 일치 여부 확인
    document.querySelector(".submitBtn").addEventListener("click", function(e) {
        e.preventDefault()
        e.stopPropagation()
        let formObj = document.getElementById("registerForm")

        const mpw = document.querySelector("[name='mpw']").value
        const mpw_confirm = document.querySelector("[name='mpw_confirm']").value

        if(mpw !== mpw_confirm){
            alert("비밀번호를 확인 해주십시오.");
            return
        }
        else {
            alert("회원 가입을 환영합니다.")
            formObj.submit()
        }

    }, false)

</script>

</body>
</html>