<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/memberStyle.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="d-flex align-items-center">
<div th:replace="fragment/header :: headerFragment"></div>
<div class="align-middle">
    <div class="container-fluid d-flex justify-content-center">
    <div class="row mt-3">
        <div class="col">
            <h2 class="h3 mb-3 fw-normal">
                마이 페이지
            </h2>
            <div class="card align-self-center">
                <div class="card-body">
                    <form id="myPageForm">
                        <div class="col-12 pb-2">
                            <label for="mid" class="form-label">아이디</label>
                            <input type="text" name="mid" class="form-control" id="mid" th:value="${memberDTO.mid}" readonly>
                        </div>

                        <div class="col-12 pb-2">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" name="name" id="name" class="form-control" th:value="${memberDTO.name}" readonly>
                        </div>

                        <div class="col-12 pb-2">
                            <label for="email" class="form-label">이메일</label>
                            <input type="text" name="email" id="email" class="form-control" th:value="${memberDTO.email}" readonly>
                        </div>

                        <div class="col-12 pb-2">
                            <label for="address" class="form-label">주소</label>
                            <input type="text" name="address" id="address" class="form-control" th:value="${memberDTO.address}" readonly>
                        </div>

                        <div class="col-12 pb-2">
                            <label for="phone" class="form-label">전화번호</label>
                            <input type="text" name="phone" id="phone" class="form-control" th:value="${memberDTO.phone}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-danger quitBtn">탈퇴</button>
                                <button type="submit" class="btn btn-primary modifyBtn">정보수정</button>
                            </div>
                        </div>
                    </form> <!-- end form -->

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</div>

<div th:replace="fragment/footer :: footerFragment"></div>

<script th:src="@{/js/script.js}"></script>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".modifyBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()
        self.location="/member/modify"}, false);

    const formObj = document.querySelector("#myPageForm")
    document.querySelector(".quitBtn").addEventListener("click",function (e){
        e.preventDefault()
        e.stopPropagation()
        formObj.action="/member/delete"
        formObj.method="post"
        formObj.submit()
    }, false);

</script>
</body>
</html>