<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">공지사항 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragment/header :: headerFragment}"></div>

<main>
    <div class="container">
        <h1>공지사항 등록</h1>
        <form action="#" th:action="@{/notice/register}" method="post">
            <div>
                <label for="noticeTitle">제목</label>
                <input type="text" id="noticeTitle" name="noticeTitle" required>
            </div>
            <div>
                <label for="noticeContent">내용</label>
                <textarea id="noticeContent" name="noticeContent" required></textarea>
            </div>
            <div>
                <label for="noticeImage">이미지</label>
                <input type="text" id="noticeImage" name="noticeImage">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</main>

<div th:replace="~{fragment/footer :: footerFragment}"></div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
