<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>Board Register</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Register
                </div>
                <div class="card-body">

                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="writer" class="form-control" placeholder="Writer"
                            th:value="${#authentication.principal.username}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">ADD FILES</button>
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>

                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- 첨부파일 섬네일을 보여줄 부분 -->
    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
            </div>
        </div>
    </div>

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <!-- 제목 -->
                    <h5 class="modal-title">Upload File</h5>
                    <!-- x 버튼 -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- body : 첨부파일 추가 부분 -->
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div> <!-- register modal -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>

</div> <!-- end layout fragment -->


<script layout:fragment="script" th:inline="javascript">

    const auth = [[${#authentication}]]

    const errors = [[${errors}]]
    console.log(errors)
    console.log(auth)

    let errorMsg = ''

    if (errors){
        for (let i = 0; i < errors.length; i++){
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
    // 업로드 모달창 나타내기
    document.querySelector(".uploadFileBtn").addEventListener("click", function (e){
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)

    // 업로드 모달창의 업로드 버튼 설정
    document.querySelector(".uploadBtn").addEventListener("click", function (e){
        const formObj = new FormData();
        // input 태그의 파일 데이터 취득 ** input[name='files']
        const fileInput = document.querySelector("input[name='files']")
        console.log(fileInput.files)

        // files의 값을 저장
        const files = fileInput.files

        // 파일 데이터를 formObj에 설정
        for (let i = 0; i < files.length; i++){
            formObj.append("files", files[i]);
        }

        // upload.js의 uploadToServer 함수를 실행
        uploadToServer(formObj).then(result =>{
            // console.log(result)
            for (const uploadResult of result){
                showUploadFile(uploadResult)
            }
            // 모달창 숨기기
            uploadModal.hide()
        }).catch(e => {
            // 모달창 숨기기
            uploadModal.hide()
        })
    }, false)

    // showUploadFile
    const uploadResult = document.querySelector(".uploadResult")
    function showUploadFile({uuid, fileName, link}){
        const str = `<div class="card col-4">
                <div class="card-header d-flex justify-content-center">
                    ${fileName}
                    <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
                </div>
                <div class="card-body">
                    <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                </div>
            </div>`
        uploadResult.innerHTML += str
    }

    // 첨부파일 삭제
    function removeFile(uuid, fileName, obj){

        console.log(uuid)
        console.log(fileName)
        console.log(obj)

        const targetDiv = obj.closest(".card")
        removeFileToServer(uuid, fileName).then(data => {
            targetDiv.remove()
        })
    }

    // 게시물 등록 과정 처리
    document.querySelector(".submitBtn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        // input hidden을 추가하기 위한 변수 설정
        const target = document.querySelector(".uploadHidden")
        // 화면의 모든 img 태그를 가져옴
        const uploadFiles = uploadResult.querySelectorAll("img")

        // innerHTML에 넣을 문자열 변수 선언
        let str = ''

        // 이미지 태그의 개수만큼 반복
        for (let i = 0; i < uploadFiles.length; i++){
            // 이미지 태그를 하나하나 담아주는 변수
            const uploadFile = uploadFiles[i]
            // data-src 안에 들어있는 데이터를 취득
            // data-src : img 태그 안의 생성한 속성으로 파일이름을 의미
            const imgLink = uploadFile.getAttribute("data-src")
            // input hidden 생성
            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }

        // uploadHidden 안에 input hidden 설정
        target.innerHTML = str;
        // submit 실행
        document.querySelector("form").submit();
    }, false)


</script>
</html>