<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="headerFragment">
    <nav class="navbar">
        <div class="logo">
            <a href="/">DiB</a>
        </div>
        <ul class="menu">
            <li><a href="/restaurant/goodfood">맛집</a></li>
            <li><a href="/accommodation/list">숙박</a></li>
            <li><a href="/tourists/list">관광지</a></li>
            <li><a href="/notice">공지사항</a></li>
            <li id="login-menu" class="menu-item">
                <a href="/member/join">회원가입</a>
                <a href="/member/login">로그인</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
