<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">메인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="headerFragment">
    <nav class="navbar">
        <div class="logo">
            <a href="/">DiB</a>
        </div>
        <ul class="menu">
            <li><a href="/restaurant">맛집</a></li>
            <li><a href="/stay">숙박</a></li>
            <li><a href="/tourists">관광지</a></li>
            <li><a href="/notice">공지사항</a></li>

            <!-- 로그인하지 않은 상태 -->
            <li th:if="${#authentication.name == 'anonymousUser'}" class="menu-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        로그인
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/member/login">Login</a>
                        <a class="dropdown-item" href="/faq">FAQ</a>
                        <a class="dropdown-item" href="/one2one">1대1 문의</a>
                    </div>
                </div>
            </li>

            <!-- 로그인한 상태 -->
            <li th:if="${#authentication.name != 'anonymousUser'}" class="menu-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Page
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/member/myPage">My Page</a>
                        <a class="dropdown-item" href="/member/logout">Logout</a>
                        <a class="dropdown-item" href="/faq">FAQ</a>
                        <a class="dropdown-item" href="/one2one">1대1 문의</a>
                    </div>
                </div>
            </li>

        </ul>
    </nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
