<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="headerFragment">
    <nav class="navbar">
        <div class="logo">
            <a href="/">DiB</a>
        </div>
        <ul class="menu">
            <li><a href="/goodfood">맛집</a></li>
            <li><a href="/stay">숙박</a></li>
            <li><a href="/hotplace">관광지</a></li>
            <li><a href="/notice">공지사항</a></li>
            <li><a href="/member/myPage" sec:authorize="isAuthenticated()">마이페이지</a></li>
            <li id="login-menu" class="menu-item">
                <a sec:authorize="isAnonymous()" href="/member/login">로그인</a>
            </li>
            <li class="menu-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>
            </li>

        </ul>
    </nav>
</header>
</body>
</html>
