<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.project_dib.mapper.TouristMapper">

    <select id="getList" resultType="org.zerock.project_dib.tourist.domain.Tourist">
        SELECT *
        FROM tourist
    </select>

    <select id="read" parameterType="int" resultType="org.zerock.project_dib.tourist.domain.Tourist">
        SELECT *
        FROM tourist
        WHERE tno = #{tno}
    </select>

    <insert id="insert" parameterType="org.zerock.project_dib.tourist.domain.Tourist" useGeneratedKeys="true" keyProperty="tno">
        INSERT INTO tourist (tour_Name, tour_addr, tour_opentime, tour_closetime, tour_parking, tour_content
                             )
        VALUES (#{tourName}, #{tourAddr}, #{tourOpentime}, #{tourClosetime}, #{tourParking}, #{tourContent}
                )
    </insert>

    <update id="update" parameterType="org.zerock.project_dib.tourist.domain.Tourist">
        UPDATE tourist
        SET tour_name      = #{tourName},
            tour_addr      = #{tourAddr},
            tour_opentime  = #{tourOpentime},
            tour_closetime = #{tourClosetime},
            tour_parking   = #{tourParking},
            tour_content   = #{tourContent},
            moddate        = #{modDate, jdbcType=TIMESTAMP},
            regdate        = #{regDate, jdbcType=TIMESTAMP}
        WHERE tno = #{tno}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM tourist
        WHERE tno = #{tno}
    </delete>

    <select id="getImgList" parameterType="int" resultType="org.zerock.project_dib.tourist.domain.TouristImg">
        SELECT *
        FROM tourist_img
        WHERE tno = #{tno}
        ORDER BY ord
    </select>

    <insert id="insertImg" parameterType="org.zerock.project_dib.tourist.domain.TouristImg">
        INSERT INTO tourist_img (uuid, file_name, tno, ord)
        VALUES (#{uuid}, #{fileName}, #{tno}, #{ord})
    </insert>

    <delete id="deleteImgs" parameterType="int">
        DELETE
        FROM tourist_img
        WHERE tno = #{tno}
    </delete>

</mapper>