<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>숙소 목록</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/memberStyle.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/tourist_list.css}">

    <link rel="stylesheet" th:href="@{/css/header_footer.css}">

    <link rel="stylesheet" th:href="@{/css/restaurant_base.css}">
    <style>
        .acc_name_css{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body >
<div th:replace="fragment/header :: headerFragment"></div>

<!-- 검색 창 -->
<nav class="navbar navbar-expand-lg border-bottom" aria-label="Offcanvas navbar large"
     style="margin-top: 20px; margin-bottom: 20px; padding-bottom: 15px;">
    <div class="container-fluid">
        <div class="search-container">
            <form id="searchForm" class="d-flex" role="search" action="/tourist/list" method="get" style="margin-right: 10px;">
                <input class="form-control" name="keyword" type="search" placeholder="숙박명 검색" aria-label="Search">
                <input type="hidden" name="filter" value="n">
            </form>
            <div class="divider"></div>
            <form id="locationForm" class="d-flex" role="search" action="/tourist/list" method="get" style="margin-right: 10px;">
                <input class="form-control" name="keyword" type="search" placeholder="위치 검색" aria-label="Search">
                <input type="hidden" name="filter" value="a">
            </form>
            <div class="divider"></div>

            <!-- 검색 버튼을 이미지로 -->
            <button type="button" onclick="submitSearch()" class="search-button">
                <img src="/img/tour_search.png" alt="Search" class="search-icon">
            </button>
        </div>
        <button sec:authorize = "hasRole('ROLE_ADMIN')" type="button" class="btn btn-primary register-btn">등록</button>
    </div>
</nav> <!-- 검색 창 끝 -->

<!-- 지역 태그 목록 -->
<div class="mt-3">
    <div class="d-flex align-items-center justify-content-center">
        <button id="scrollLeft" class="scroll-button">&lt;</button> <!-- 왼쪽 스크롤 버튼 -->
        <div class="location-container d-flex flex-nowrap overflow-hidden">
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="dum">#ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁa </a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="">#전체</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="강서구">#강서구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="북구">#북구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="사상구">#사상구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="사하구">#사하구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="금정구">#금정구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="동래구">#동래구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="연제구">#연제구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="부산진구">#부산진구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="해운대구">#해운대구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="수영구">#수영구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="남구">#남구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="동구">#동구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="중구">#중구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="서구">#서구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="영도구">#영도구</a>
            <a href="#" class="location-tag btn btn-outline-secondary m-1" data-location="기장군">#기장군</a>
        </div>
        <button id="scrollRight" class="scroll-button">&gt;</button> <!-- 오른쪽 스크롤 버튼 -->
    </div>
</div>

<!-- 카드 앨범 부분 -->
<div class="album py-3 ">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">

            <!-- 카드 개별 요소 -->
            <div class="col" th:each="dto:${accList}" >
                <div class="card shadow-sm" >
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="250px"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <a th:href="|@{/accommodation/view(ano=${dto.ano})}|" >
                            <image th:each="image : ${allImages}"
                                   th:if="${image != null and image.ano == dto.ano}"
                                   th:href="|/upload/${image.file_name}|" width="100%"/>
                        </a>
                    </svg>
                    <div class="card-body">
                        <div class="card-text ">
                        <a th:href="|@{/accommodation/view(ano=${dto.ano})}|"
                           th:text="${dto.acc_name}" class="acc_name_css"></a></div>
                        <div class="card-text">
                            <a th:text="${dto.acc_loc}"></a></div>
                    </div>
                </div>
            </div>
        </div> <!-- 카드 개별 요소 끝 -->
    </div>
</div> <!-- album end -->

        <nav aria-label="Page navigation" style="padding-bottom: 20px">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{|/accommodation/list?page=1|}">처음으로</a>
                </li>

                <li class="page-item" th:classappend="${pageRequestDTO.page == 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|/accommodation/list?page=${pageRequestDTO.page - 1}|}">이전</a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(
                pageRequestDTO.page > 5 ? pageRequestDTO.page - 5 : 1,
                pageRequestDTO.page > 5 ? (pageRequestDTO.page + 4 <= totalPage ? pageRequestDTO.page + 4 : totalPage) : (totalPage < 10 ? totalPage : 10))}"
                    th:classappend="${pageRequestDTO.page == i} ? 'active'">
                    <a class="page-link" th:href="@{|/accommodation/list?page=${i}|}">[[${i}]]</a>
                </li>

                <li class="page-item" th:classappend="${pageRequestDTO.page == totalPage} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|/accommodation/list?page=${pageRequestDTO.page + 1}|}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{|/accommodation/list?page=${totalPage}|}">마지막으로</a>
                </li>
            </ul>
        </nav>



<script sec:authorize="hasRole('ROLE_ADMIN')">
    document.querySelector(".register-btn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()
        self.location = '/accommodation/register'
    }, false)
</script>

<div th:replace="fragment/footer :: footerFragment"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script layout:fragment="script" th:inline="javascript">

</script>
</body>
</html>