<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>숙소 등록</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/touristStyle.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>


<body class="d-flex align-items-center">
<div th:replace="fragment/header :: headerFragment"></div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    숙소 등록
                </div>
                <div class="card-body">
                    <form action="/accommodation/register" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label class="col-sm-2">이미지</label>
                            <div class="col-sm-5">
                                <input type="file" name="files" class="form-control" multiple>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" name="acc_name" class="form-control" placeholder="숙소명을 입력해주세요.">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">상세 설명</span>
                            <textarea class="form-control col-sm-5" rows="5" name="acc_exp" placeholder="상세 설명을 작성해주세요."></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">주소</span>
                            <input type="text" name="acc_loc" class="form-control" placeholder="주소를 입력해주세요.">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">전화번호</span>
                            <input type="text" name="acc_phone" class="form-control" placeholder="전화번호를 입력해주세요.">
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">등록 완료</button>
                                <button type="button" class="btn btn-secondary list-back-btn">목록으로 돌아가기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>

<div th:replace="fragment/footer :: footerFragment"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".list-back-btn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        self.location = '/accommodation/list'

    },false)

</script>
</body>
</html>














