<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <div th:replace="fragment/header :: headerFragment"></div>

<body>
<header>
    <div class="logo">DiB</div>
<!--    <nav>-->
<!--        <ul>-->
<!--            <li>맛집</li>-->
<!--            <li>숙박</li>-->
<!--            <li>관광지</li>-->
<!--            <li>공지사항</li>-->
<!--        </ul>-->
<!--    </nav>-->
    <div class="my-page">
        <button>My Page ▼</button>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="검색어를 입력해주세요.">
        <button>🔍</button>
    </div>
</header>
<main>
    <section class="content">
        <h1>관광지</h1>
        <h2>Subheading</h2>
        <div class="tabs">
            <button>Tab</button>
            <button>Tab</button>
            <button>Tab</button>
        </div>
        <div class="cards">
            <div th:each="tourist : ${list}" class="card">
                <div class="image-placeholder">
                    <img th:src="@{|/images/${tourist.tourImage}|}" alt="예시 이미지">
                </div>
                <div class="description">
                    <p th:text="${tourist.tourName}">관광지</p>
                    <p th:text="${tourist.tourContent}">간단한 설명</p>
                </div>
                <div class="favorite">♡</div>
            </div>
        </div>
    </section>
    <aside>
        <h3>상세 검색</h3>
        <ul>
            <li>지역 분류</li>
            <li>📍</li>
            <li>📡</li>
            <li>인기 순</li>
            <li>🎵</li>
            <li>😊</li>
        </ul>
    </aside>
</main>
<footer>
    <div th:replace="fragment/footer :: footerFragment"></div>
<!--    <div class="footer-content">-->
<!--        <p>© 2024 Dive Into Busan</p>-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="#">Home</a></li>-->
<!--                <li><a href="#">About</a></li>-->
<!--                <li><a href="#">Gallery</a></li>-->
<!--                <li><a href="#">Our Services</a></li>-->
<!--                <li><a href="#">Contact Us</a></li>-->
<!--                <li><a href="#">Privacy Policy</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
</footer>
</body>
</html>