/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 1100px;
    /*background: url("/im") no-repeat center center fixed; !* 배경 이미지 추가 *!*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 메인 텍스트 스타일 */
.main-title {
    color: white;
    font-size: 10em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 서브 타이틀 스타일 */
.subtitle {
    color: white;
    text-align: center;
    letter-spacing: 5px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; /* 배경색 투명 설정 */
    width: 100vw;
}

.logo {
    margin-right: auto; /* 로고를 왼쪽에 고정 */
}

.logo a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 로고에 그림자 추가 */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto; /* 메뉴를 오른쪽으로 이동 */
}

.menu li {
    margin-left: 20px;
}

/* 게시판 글자 */
.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 메뉴 항목에 그림자 추가 */
}

.menu a:hover {
    background-color: rgba(0, 123, 255, 0.6); /* 반투명한 파란색 배경 */
    color: white;
}

.menu-item a {
    background-color: rgba(0, 123, 255, 0.8); /* 살짝 투명한 파란색 */
    color: white;
    font-size: 18px; /* 로그인 버튼 크기 조정 */
    padding: 8px 16px;
}

main {
    text-align: center;
    /*padding-top: 250px;*/
    /*padding-bottom: 50px;*/
    background-color: transparent; /* 배경 이미지 위에 반투명 배경 */
    /*min-height: 100vh; !* 배경 이미지와 동일한 높이로 설정 *!*/
    overflow-y: auto; /* 세로 스크롤 활성화 */
}


/* 푸터 스타일 */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #333;
    font-size: 14px;
    text-align: center;
    width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 5px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
    padding: 0 20px 0 0;
}

.footer-left h2 {
    margin: 0 0 10px;
}

.footer-left p {
    margin: 0 0 10px;
}

.footer-center {
    text-align: left;
}

.footer-right {
    text-align: left;
}


.footer-center ul,
.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-center ul li,
.footer-right ul li {
    margin: 0 0 10px;
}

.footer-center ul li a,
.footer-right ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-center ul li a:hover,
.footer-right ul li a:hover {
    color: #007bff;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.col {
    padding-bottom: 20px;
}