/* notice.css */

/* 공지사항 컨테이너 스타일 */
.notice-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 화면 중앙 흰색 컨테이너의 위치 조정 */
main {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* notice-table */
.notice-table {
    width: 700px;
}


/* 버튼 스타일 */
.notice-table .table-header button {
    background-color: #f0f0f0; /* 기본 회색 배경 */
    border: none;
    width: 32px;
    height: 32px;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0;
}

/* 특정 버튼에 이미지를 배경으로 설정 */
.notice-table .table-header .list-btn {
    background-image: url('/img/list.png');
}

.notice-table .table-header .grid-btn {
    background-image: url('/img/grid.png');
}

.notice-table .table-header .calendar-btn {
    background-image: url('/img/calendar.png');
}

/* 버튼 활성화 상태 스타일 */
.notice-table .table-header .active {
    background-color: white; /* 활성화된 버튼의 흰색 배경 */
    border: 1px solid #ccc; /* 활성화된 버튼의 테두리 */
}

/* 검색 입력창 스타일 */
.notice-table .table-header input[type="text"] {
    padding-left: 32px;
    background: url('/img/search.png') no-repeat;
    background-size: 20px;
    background-position: 8px center;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
}

/* 공지사항 등록 버튼 스타일 */
.register-notice-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.register-notice-btn:hover {
    background-color: darkgray;
}
