/* 지역 태그 목록 */
.address-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.address-tag {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #007bff; /* 텍스트 색상을 파란색으로 설정 */
    background-color: #ffffff; /* 기본 배경색을 흰색으로 설정 */
    border: 2px solid #007bff; /* 파란색 테두리 추가 */
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease; /* 색상 전환 효과 추가 */
}

.address-tag:hover {
    background-color: #d3d3d3; /* hover 시 배경색을 회색으로 변경 */
    color: #007bff; /* hover 시 텍스트 색상을 파란색으로 유지 */
}

.selected-address {
    background-color: #d3d3d3; /* 선택된 태그의 배경색을 회색으로 변경 */
    color: #007bff; /* 선택된 태그의 텍스트 색상을 파란색으로 설정 */
}
